<h1> Our current business Partners are :</h1>

<ul>
  <% @businesspartner.each do |businesspartner| %>
    <li>
    <a href="<%= businesspartner_path(businesspartner) %>">
      <%=  businesspartner.customer_name %>
    </li>
  <% end %>
</ul>
<%= link_to "New Business Partner",  new_businesspartner_path %>